h1 NazoTalkとは？
div.about-sentence
  p
    |
      NazoTalkはなぞなぞやクイズに特化したSNSサイトです。<br>
      なぞなぞ・クイズを通じて全国の人々と交流するために設立されました。<br>
      自分の考えたなぞなぞ・クイズを共有したり、<br>
      謎解き公演のお試し謎を掲載したり、使い方は様々です。<br>
      皆様に素敵な謎解きライフを