label {
  margin-right: 10px;
}

div {
  margin-bottom: 15px;
}

.field, .btn {
  margin-top: 20px;
}

.question-info, .question-bar {
  height: 80px;
  width: 85%;
}

.question-bar {
  background-color: white;
}

.question-number, .question-user-name, .average-rating {
  margin: auto 20px;
  line-height: 80px;
  float: left;
}

.question-favorites {
  margin: auto 10px;
  line-height: 80px;
}

.edit {
  margin-right: 50px;
}

.question-date {
  float: right;
  line-height: 80px;
  margin-bottom: 0;
  padding-right: 10px;
}

.question-content, .new-question, .edit-question {
  background-color: white;
  padding: 15px;
}

.question-image {
  width: 100%;
}

.edit-question {
  .question-image, .answer-image {
    width: 75%;
  }
}

#hint-1-text, #hint-2-text, #hint-3-text, #question-comments, #question-answer {
  display: none;
}

#show-comments h4 {
  color: black;
}

.rating-comment {
  padding: 5px;
  width: 300px;
  background-color: white;
  .comment {
  margin-left: 5px;
  }
}

.question-comment-wrapper p {
  text-align: center;
}

.question-bar {
  a:link, a:visited, a:hover, a:active {
    color: black;
  }
}
