.users-bar {
  height: 100px;
  padding: 10px;
  background-color: white;
}

.users-bar .users-avatar, .users-name {
  margin: auto 5px;
  line-height: 100px;
  float: left;
}

.users-rank {
  margin: auto 20px;
  line-height: 100px;
  float: left;
}

.user-panel {
  background-color: white;
  padding: 5px;
}

.side-menu {
  font-size: 0.8em;
  background-color: white;
  padding: 10px;
}

.user-info {
  background-color: white;
  padding: 20px;
}

.user-follow {
  float: left;
  padding: 0 40px;
  .btn {
    float: right;
  }
}

.user-following, .user-followers {
  line-height: 30px;
}

.comment {
  background-color: white;
  padding: 5px;
}

.comment-text {
  margin-left: 90px;
}

.comment-date {
  float: right;
  margin-right: 10px;
}

.comment-text {
  word-wrap: break-word;
}

.side-bar-user-follow .btn {
  margin-left: 0;
}

.edit-user-profile {
  background-color: white;
  padding: 10px 25px;
}